.major-mono-display-regular {
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-ubuntu-mono {
    font-family: 'Ubuntu Mono', monospace;
  }

  .monomaniac-one-regular {
    font-family: "Monomaniac One", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  